<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>LoginAuthentication</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.auth.LoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FBLoginAuthentication</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.auth.FBLoginAuthentication</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Recover</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.auth.Recover</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoverEngine</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.auth.RecoverEngine</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FeedHandler</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.FeedHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WhatsCooking</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.WhatsCooking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurboFeeds</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.TurboFeeds</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YummlyLookup</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.YummlyLookup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>YoutubeSearch</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.YoutubeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecentCuisines</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.RecentCuisines</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FavouriteHandler</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.FavouriteHandler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FetchFavourite</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.FetchFavourite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TurboPost</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.blog.TurboPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PdfGenerator</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.PdfGenerator</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>me.uni.sushilkumar.geodine.util.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAuthentication</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FBLoginAuthentication</servlet-name>
        <url-pattern>/FBLoginAuthentication</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Recover</servlet-name>
        <url-pattern>/auth/recover</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecoverEngine</servlet-name>
        <url-pattern>/recover/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FeedHandler</servlet-name>
        <url-pattern>/FeedHandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WhatsCooking</servlet-name>
        <url-pattern>/util/WhatsCooking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurboFeeds</servlet-name>
        <url-pattern>/TurboFeeds</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YummlyLookup</servlet-name>
        <url-pattern>/util/yummly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>YoutubeSearch</servlet-name>
        <url-pattern>/youtube</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecentCuisines</servlet-name>
        <url-pattern>/util/recent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FavouriteHandler</servlet-name>
        <url-pattern>/util/favourites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FetchFavourite</servlet-name>
        <url-pattern>/util/fetchfavourite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TurboPost</servlet-name>
        <url-pattern>/blog/posthandler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PdfGenerator</servlet-name>
        <url-pattern>/util/pdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/contactus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>dbHost</param-name>
        <param-value>localhost</param-value>
    </context-param>
    <context-param>
        <param-name>dbUser</param-name>
        <param-value>root</param-value>
    </context-param>
    <context-param>
        <param-name>dbPassword</param-name>
        <param-value/>
    </context-param>
    <context-param>
        <param-name>dbName</param-name>
        <param-value>geodine</param-value>
    </context-param>
    <resource-ref>
        <description>MySQL Datasource example</description>
        <res-ref-name>jdbc/sushil</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
</web-app>
