
@import url('reset.css');


::selection {
    background: #ffb7b7; 
}
::-moz-selection {
    background: #ffb7b7; 
}





.clear{
    clear:both;
    height:1px;
}

.inv{ display:none; }





body {
    line-height: 1.5em;
    color: #6a6a6a;
    font-family: Boogaloo;
    font-size: 15px;
    margin:0px;
    height:100%;
    width:100%;
    background:url('../img/bg/1food.jpg');
    background-position:top center;
}

#top-gap{ height: 170px; }

#logo{
    position: absolute;
    top: -3px;
    left: 35px;
}


p{ margin-bottom: 21px; }

a{
    color: #606060;
}


h1{ font-size: 30px; }

h2{ font-size: 28px; }

h3{ font-size: 26px; }

h4{ font-size: 24px; }

h5{ font-size: 22px; }

h6{ font-size: 20px; }

h1,h2,h3,h4,h5,h6{
    margin-bottom: 21px;
    line-height: 21px;
    font-weight: 400;
    line-height: 1.2em;
}


.headerimg { 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    left: 0px; 
    top: 0px; 

}
.headerimg img{
    width:100%;
    height:100%;
}



.btn { 
    height: 62px; 
    width: 40px;
    float: left;
    cursor: pointer;
}

.btn:hover{
    background-position: 0px -62px;
}


#headernav { 
    position: relative; 
    top: 60px; 
    margin: 0 auto; 
    width:100%;
    display: none;
}

#back { 
    background-image: url("../img/slider/btn_back.png");
    position: absolute;
}

#next {
    background-image: url("../img/slider/btn_next.png");
    position: absolute;
    right: 0px;
}


.wrapper { 
    position: relative;
    width: 1020px; 

    margin: 0px auto; 
    background: url(../img/wrapper-bg.png) no-repeat top center;
    padding-top: 120px;
}

#content-wrap{
    margin-left:20px;
    margin-right: 20px;
    background: #ffffff;
    min-height: 600px;
}

#page-wrap{
    margin-left:20px;
    margin-right: 20px;
    padding-bottom: 40px;
}



#nav-bar-holder{
    position: absolute;
    top: 20px;
    left:  400px;
    z-index: 5000;
}
.navbar
{position: relative;
 left:0px;
}
.navbar ul
{
    list-style:none;
}
.navbar ul li
{
    display:inline;
    padding:0px;

}
.navbar span
{
    position:relative;
    padding:3px;
    top:-25px;
    color:#000000;
    font-family:Boogaloo;
    font-size:20px;
    -webkit-border-radius: 0.5px;
    -moz-border-radius: 0.5px;
    border-radius: 0.5px;
    background: #00b7ea; /* Old browsers */
    background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow:    1px 1px 1px 2px #000000;
    -webkit-box-shadow: 1px 1px 1px 2px #000000;
    box-shadow:         1px 1px 1px 2px #000000;

}

.social
{
    position: relative;
    left:0px;
    top: 0px;
}
.social ul
{
    list-style:none;
}
.social ul li
{
    position:relative;
    display:inline;
    left:10px;
}
.social span
{
    color:#000000;
    font-family:Boogaloo;
}
.social ul li  span
{
    position:relative;
    padding:3px;
    top:-12px;
    color:#000000;
    font-family:Boogaloo;
    font-size:12px;
}
.social ul li a
{
    text-decoration: none;
}

.social ul li a:hover
{
    color:red;
    text-decoration: none;
}
.social ul li a:visited
{
    text-decoration: none;
}




#front-slides{
    position: relative;
    margin-bottom: 15px;
}

#front-slides #front-slides-cover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 940px;
    height: 25px;
    background: url(../img/front-cover.png) no-repeat;
    z-index: 4001;
}


#front-slides .slides_container {
    width:940px;
}

#front-slides .slides_container div {
    width:940px;
    display:block;
}

#front-slides .slides_container .caption {
    display: none;
}

#country
{
	position:relative;
	height:300px;
	overflow-y:auto;
	overflow-x:hidden;
}

#front-slides .pagination {
    display: block;
    position: absolute;
    top:30px;
    right: 10px;
    z-index: 4002;
}

#front-slides .pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 2px;
    display: block;
    width: 10px;
    height: 10px;
}

#front-slides .pagination li a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    background: #000;
    opacity: 0.6;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.data-box
{
position: relative;
height: 335px;
width: 600px;
background: red;
left: 350px;
top: 20px;
box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.data-header
{
	position:relative;
	height:30px;
color:white;
text-align:center;
	font-size:20px;
 box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	
}
.data
{
position:relative;
height:305px;
overflow:auto;
}
.data h4
{
	text-align:center;
	font-size:20px;
}
.yt
{
position:relative;
height:305px;
}

.swap
{
background: url(../img/button-icons.png) -180px -36px;
display: block;
line-height: 35px;
height: 35px;
width: 36px;
max-width: 36px;
overflow: hidden;
margin:0px;
padding:0px;
text-indent: -9999px;
}

.slides_loader
{
	position:relative;
	left:142px;
	top:142px;
}
#front-slides .pagination li a:hover,
#front-slides .pagination li.current a {
    opacity: 1;
}


#headline{
    position: absolute;
    bottom: 0px;
    left: 55px;
    width: 665px;
    padding: 35px 70px 0px 70px;
    background: url(../img/headline-bg.png) no-repeat top center;
    z-index: 4000;
    text-align: center;
}


.featured-title{
    background: url(../img/shadow-divider.png) no-repeat center center;
    margin-bottom: 5px;
}

.featured-title .ribbon{
    margin: 0px auto;
}



.ribbon{
    display: table;
    font-family: Finger Paint;
    color: #f2f2f2;
    line-height: 59px;
    padding-left: 49px;
    font-size: 20px;
    background: url(../img/ribbon.png) no-repeat top left;

    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
}

.ribbon span{
    background: url(../img/ribbon.png) no-repeat bottom right;
    display: block;
    line-height: 59px;
    padding-right: 49px;
}

.featured
{
    display: block;
    position: relative;
    top:10px;
    margin-bottom: 0px;
    overflow: hidden;
    height: 300px;


}
.youtube
{
    position: relative;
    height: 280px;
    width: 380px;
    top: 10px;
    left:270px;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;

    -moz-box-shadow:    0px 0px 3px 2px #B8B8B8;
    -webkit-box-shadow: 0px 0px 3px 2px  #B8B8B8;
    box-shadow:         0px 0px 3px  2px #B8B8B8;

}
.recipeoftheday
{
    position: relative;
    height: 265px;
    width: 250px;
    top: -270px;
    left:5px;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    padding-top: 15px;
    -moz-box-shadow:    0px 0px 3px 2px #B8B8B8;
    -webkit-box-shadow: 0px 0px 3px 2px  #B8B8B8;
    box-shadow:         0px 0px 3px  2px #B8B8B8;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */




}
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
.recipeoftheday h6
{

    margin-left: 31px;
    margin-bottom: 21px;
    line-height: 21px;
    font-family: Finger Paint;
    font-size: 23px;
    font-weight: 400;
    line-height: 1.2em;
}
.recipeoftheday ul
{
    position:relative;
    left:10px;
    list-style-image:url('../img/redsquare.gif');
    padding:1px;
    margin:15px;
}
.recipeoftheday ul li
{
    list-style-type:circle;
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-bottom:15px;
    font-family: McLaren;
    font-size: 17px;
}

.recipeoftheday ul li a
{
    text-decoration:none;
}
.recipeoftheday ul li a:hover
{
    text-decoration:underline;
}
.recipeoftheday ul li a:visited
{
    text-decoration:none;
}
.recipeoftheday img
{
    position:relative;
    top:90px;
    left:120px;
}

.poweredby
{ 
    position: relative;
    height: 265px;
    width: 250px;
    top: -550px;
    left:670px;
    padding-top: 15px;
    padding-left: 15px;
    -webkit-border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    border-radius: 0.2em;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
    -moz-box-shadow:    0px 0px 3px 2px #B8B8B8;
    -webkit-box-shadow: 0px 0px 3px 2px  #B8B8B8;
    box-shadow:         0px 0px 3px  2px #B8B8B8;
overflow:auto;
overflow-x:hidden

}
.poweredby h6
{
    margin-left: 10px;
    margin-bottom: 21px;
    line-height: 21px;
    font-family:Finger Paint;
    font-size: 25px;
    font-weight: 400;
    line-height: 1.2em;
}
.poweredby ul
{
    position:relative;
    left:40px;
    list-style-image:url('../img/redsquare.gif');
    padding:1px;
    margin:15px;
}
.poweredby ul li
{
    list-style-type:circle;
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-left:12px;
    padding-bottom:15px;
    font-family: McLaren;
    font-size: 17px;
}

.poweredby ul li a
{
    text-decoration:none;
}
.poweredby ul li a:hover
{
    text-decoration:underline;
}
.poweredby ul li a:visited
{
    text-decoration:none;
}


#reel{
    position: relative;
    margin-left: -20px;
    margin-bottom: 15px;
    left:10px; 
    width: 960px; 
    height:410px; 



}

#reel .slides_container{
    position: absolute;
    overflow: hidden;
    top: 20px;

    width: 300px;
    height: 335px;
    margin-left: 20px;
    box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
    border-radius:3px 3px 3px 3px;
    -moz-border-radius: 3px; /* Firefox */
    -webkit-border-radius: 3px; /* Safari, Chrome */

    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}
.country_name
{
	text-align:center;
	font-size:30px;
	height:40px;
	margin-top:10px;
}
.country_header
{
	position:relative;
	width:300px;
	height:30px;
	text-align:center;
	font-size:20px;
	color:white;
  box-shadow: 0px 0px 20px #999; /* CSS3 */
    -moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
background: #7d7e7d; /* Old browsers */
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */


}
.cuisine a
{
	position:relative;
	top:-30px;
	left:20px;
	font-size:20px;
}


#reel .slides_container h3
{   margin-top:10px;
    margin-left:15px;

}
#reel .slides_container .box-divider{
    clear: both;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
::-webkit-scrollbar {
    width: 12px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}
#footer-bottom{ 
    overflow: hidden;
    background: #ccc;
    font-size: 15px;
    color:#000000;
    padding-top: 15px;
    padding-bottom: 15px;


    -moz-box-shadow:    0px 0px 3px 2px #B8B8B8;
    -webkit-box-shadow: 0px 0px 3px 2px  #B8B8B8;
    box-shadow:         0px 0px 3px  2px #B8B8B8;


}

.bottom-wrapper{
    overflow: hidden;
    width: 940px;
    margin: 0 auto;	
}

#footer-bottom #bottom-left{
    float: left;
}

#footer-bottom #bottom-right{
    float: right;
}

#footer-bottom a{
    text-decoration: none;
    color: #000000;
}

#footer-bottom a:hover{
    text-decoration:underline;
}


#footer-nav{
    display: block;
    overflow: hidden;
}

#footer-nav li{
    display: block;
    float: left;
    margin-left: 10px;
}

.blog-feed
{
    width:273px;
    height: 200px;
}


.blog-feed ul
{
    position:relative;
    left:10px;
    list-style-image:url('../img/redsquare.gif');
    padding:1px;
    margin:15px;
}
.blog-feed ul li
{
    list-style-type:circle;
    background-repeat:no-repeat;
    background-position:0px 5px; 
    padding-bottom:15px;
    font-family: McLaren;
    font-size: 17px;
}

.blog-feed ul li a
{
    text-decoration:none;
}
.blog-feed ul li a:hover
{
    text-decoration:underline;
}
.blog-feed ul li a:visited
{
    text-decoration:none;
}
.blog-feed img
{
    position:relative;
    top:50px;
    left:150px;
}

.poweredby span
{
position: relative;
left: 50px;
top: 100px;
font-size: 30px;
}

.data .fav
{
position: relative;
left: 530px;
top: -15px;
}
.data button
{
position: relative;
left: 420px;

}

.data button.css3button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #050505;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#f7ff00 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#f7ff00),
		to(#ffbf00));
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	border: 5px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);
}

.swap
{
position: relative;
height: 30px;
width: 30px;
background-image:url('../img/swap.png');
background-size: 100% 100%;
left: 565px;
top: -23px;
}

.message
{
	position:relative;
	height:23px;
	width:150px;
	color:black;
	left:605px;
	top:-50px;
  -moz-box-shadow:    0px 0px 3px 2px #B8B8B8;
    -webkit-box-shadow: 0px 0px 3px 2px  #B8B8B8;
    box-shadow:         0px 0px 3px  2px #B8B8B8;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(47%,#f6f6f6), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#f6f6f6 47%,#ededed 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */

}
.data .data_loader
{
	position:relative;
	left:292px;
	top:145px;
}

.food-feeds
{
	overflow:auto;
}
